* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-image: url(../imagenes/fondo2.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: coral;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.row {
    background: azure;
}

.divgreen {
    width: 600px;
    float: right;
    padding: 30px;
    text-align: right
}

